@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Oleo+Script+Swash+Caps&family=PT+Sans:ital@1&display=swap");
body {
  font-family: "PT Sans", sans-serif;
}
/* modifind Kanyapak
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'PT Sans', sans-serif; */
.navbar-brand {
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "PT Sans", sans-serif;
}
